<header>
    <nav class="navbar navbar-expand-md fixed-top font-weight-bold">
        <a class="navbar-brand nav-link p-2" href="#">
            Bootstrap SideNav
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        &nbsp;<i class="fas fa-home"></i>&nbsp; Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        &nbsp;<i class="fas fa-info-circle"></i>&nbsp; About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        &nbsp;<i class="fas fa-calendar-alt"></i>&nbsp; Events
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        &nbsp;<i class="fas fa-images"></i>&nbsp; Photos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        &nbsp;<i class="fab fa-youtube"></i>&nbsp; Videos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mycrud">
                        &nbsp;<i class="fas fa-cog"></i>&nbsp; 商品管理
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        &nbsp;<i class="fab fa-github"></i>&nbsp; Github
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        &nbsp;<i class="fas fa-sign-in-alt"></i>&nbsp; Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="sidenav"></nav>
</header>

<main class="bg-fullscreen">
  <div class="overlay">
    <div class="overlay-title">Responsive Navbar with Collapsing Sidenav</div>
  </div>
</main>