{% extends 'pa_basic.html' %}
{% block title %} 漫畫 {% endblock%}
{% block header %}
              <li class="nav-item">
                <a class="nav-link" href="index">Home</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link active" href="#">漫畫</a>
              </li>    
              <li class="nav-item" id="mana" style="display:none;">
                <a class="nav-link" href="mycrud">商品管理</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="car">購物車</a>
              </li>
{% endblock%}
{% block content %}
        <div class="col-md-4"> 
內容
        </div>    
{% endblock %}